h1 {margin-left: 45%; width: 70%; font-style: italic;}

h2 {margin-left: 47% ; width: 70%;}

body {background-color: rgb(153, 153, 153);}

#ima1 {width: 70%; margin-left: 17%; border-style: dashed; border-color: rgb(3, 130, 241); border-width: 2px;}

#ima2 {width: 70%; margin-left: 17%; border-style: dashed; border-color: rgb(212, 0, 255); border-width: 2px;}

h3 {margin-left: 49%}

h4 {text-align: justify;}
s
h5 {margin-left: 49%;}

h6 {margin-left: 24%;}

#ima3 {width: 70%; margin-left: 17%; border-style: dashed; border-color: rgb(54, 214, 14); border-width: 2px;}

h7 {margin-left: 24%;}

h8 {margin-left: 24%;}